<div class="container">
  <section id="slider" class="home-slider">
    <ul>
      <li class="home-slider-slide-container">
        <div class="home-slider-slide home-slider-slide-1"></div>
        <h2>Villa</h2>
      </li>
      <li class="home-slider-slide-container">
        <div class="home-slider-slide home-slider-slide-2"></div>
        <h2>House</h2>
      </li>
      <li class="home-slider-slide-container">
        <div class="home-slider-slide home-slider-slide-3"></div>
        <h2>Apartment</h2>
      </li>
      <li class="home-slider-slide-container">
        <div class="home-slider-slide home-slider-slide-4"></div>
        <h2>Studio</h2>
      </li>
      <li class="home-slider-slide-container is-active">
        <div class="home-slider-slide home-slider-slide-5"></div>
        <h2>Commercial</h2>
      </li>
    </ul>
    <div id="slider-controls" class="home-slider-controls">
      <button data-direction="-1" type="button" aria-label="Previous slide">
        <svg width="32" height="32">
          <use href="../assets/sprite.svg#icon-chevron-left" />
        </svg>
      </button>
      <button data-direction="1" type="button" aria-label="Next slide">
        <svg width="32" height="32">
          <use href="../assets/sprite.svg#icon-chevron-right" />
        </svg>
      </button>
    </div>
    <div id="slider-links" class="home-slider-links">
      <a data-spa-link href="/gallery/rent">
        <span>Rent</span>
        <svg width="32" height="32">
          <use href="../assets/sprite.svg#icon-arrow" />
        </svg>
      </a>
      <a data-spa-link href="/gallery/buy">
        <span>Buy</span
        ><svg width="32" height="32">
          <use href="../assets/sprite.svg#icon-arrow" />
        </svg>
      </a>
    </div>
  </section>
  <section class="home-hero">
    <h1>Your Journey<br />to <strong>Perfect Home</strong></h1>
    <p>
      Welcome to Sweet Home, your ultimate destination for finding your dream
      home. Our platform offers a curated selection of real estate listings
      tailored to your preferences, ensuring a hassle-free and enjoyable
      experience.
    </p>
  </section>
  <section class="home-features">
    <h2 hidden>Why Choose Sweet Home?</h2>
    <ul class="home-features-list">
      <li class="home-features-list-item">
        <strong>5K+</strong>
        <p>Satisfied Customers</p>
      </li>
      <li class="home-features-list-item">
        <strong>100+</strong>
        <p>Active Listings</p>
      </li>
      <li class="home-features-list-item">
        <strong>12+</strong>
        <p>Countries Covered</p>
      </li>
      <li class="home-features-list-item">
        <strong>3+</strong>
        <p>Years of Experience</p>
      </li>
    </ul>
  </section>
</div>
